nodered/node.yml
[
    {
        "id": "e25a7cd4.55e3f",
        "type": "ibmiot in",
        "z": "362d78fe.abd978",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "4736c96c.d408c8",
                "17a6ebb6.5db734"
            ]
        ]
    },
    {
        "id": "4736c96c.d408c8",
        "type": "cloudant out",
        "z": "362d78fe.abd978",
        "name": "",
        "cloudant": "",
        "database": "nodemcu",
        "service": "nodemcu-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "628a7a56.ba5cc4",
        "type": "websocket out",
        "z": "362d78fe.abd978",
        "name": "Webscokets Server",
        "server": "",
        "client": "8caef996.b96cb8",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "75ee7399.10b1bc",
        "type": "function",
        "z": "362d78fe.abd978",
        "name": "ML2status2.0",
        "func": "var timestamp = new Date().valueOf()/1000;\nmsg.payload = {\"fields\":[\"Bombero\",\"Estado\",\"Timestamp\",\"Temp\",\"Humidity\",\"Smoke\"],\"values\":[msg.deviceId, msg.payload.values[0][7], timestamp, msg.payload.values[0][0], msg.payload.values[0][1], msg.payload.values[0][2]]};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "628a7a56.ba5cc4"
            ]
        ]
    },
    {
        "id": "e0f428fe.f632d8",
        "type": "function",
        "z": "362d78fe.abd978",
        "name": "set payload and headers for token",
        "func": "msg.payload = \"apikey=XXXXXXXX&grant_type=urn:ibm:params:oauth:grant-type:apikey\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "2de80ade.f0c146"
            ]
        ]
    },
    {
        "id": "2de80ade.f0c146",
        "type": "http request",
        "z": "362d78fe.abd978",
        "name": "get IAM Token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.bluemix.net/oidc/token",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "8eeae6ae.5797a8"
            ]
        ]
    },
    {
        "id": "17a6ebb6.5db734",
        "type": "function",
        "z": "362d78fe.abd978",
        "name": "Prepare ML Request",
        "func": "var myfoo = global.get(\"tokenazo\");\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + myfoo;\nmsg.payload = {\"fields\":[\"Temperatura\",\"Humedad\",\"Humo\"],\"values\":[[msg.payload.d.temperatura, msg.payload.d.humedad, msg.payload.d.humo]]};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "44ed88fe.01fbd8"
            ]
        ]
    },
    {
        "id": "44ed88fe.01fbd8",
        "type": "http request",
        "z": "362d78fe.abd978",
        "name": "Machine Learning Firefighter Health Prediction",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b6faeb13-cab9-4699-bee9-5b0bf4469954/deployments/e65eed07-7271-425d-adf9-5b7ff39bfc51/online",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "75ee7399.10b1bc"
            ]
        ]
    },
    {
        "id": "8eeae6ae.5797a8",
        "type": "function",
        "z": "362d78fe.abd978",
        "name": "token set",
        "func": "global.set(\"tokenazo\",msg.payload.access_token);  // this is now available to other nodes\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e5709b1a.355a08",
        "type": "inject",
        "z": "362d78fe.abd978",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "e0f428fe.f632d8"
            ]
        ]
    },
    {
        "id": "8caef996.b96cb8",
        "type": "websocket-client",
        "z": "",
        "path": "ws://159.122.175.197:32245",
        "tls": "",
        "wholemsg": "false"
    }
]
